body {
  background-color: green;
}

.container {
  position: relative;
  width: 900px;
  height: 640px;
}

.race-car {
  width: 150px;
  transition: transform 0.5s;
  position: absolute;
  left: 0;
  top: 0;
}

.active {
  left: 20px;
}

.up {
  transform: rotate(-90deg);
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.right {
  transform: none;
}

.right:active {
  left: 10px;
}
